@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./partials/colors";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  color: $white;
  background-color: $background;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $black;
}
::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $red;
  border-radius: 10px;
}
.background-container img {
  filter: brightness(25%);
  object-fit: cover;
}
ul button {
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  border-radius: 10px;
  background-color: $transparentBlack;
  transition: 300ms;
}
main {
  margin-top: 175px;
  width: 1520px;
}
input::placeholder {
  color: $white;
}
@keyframes cardFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cards {
  min-height: 300px;
  column-gap: 46px;
  row-gap: 50px;
}
.card {
  cursor: pointer;
  width: 215px;
  height: 300px;
  transition: 300ms;
  border-radius: 12px;
}
.card:hover {
  filter: drop-shadow(0px 0px 6px $orange);
}
