@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./partials/colors";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  color: $white;
  background-color: $background;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $black;
}
::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $red;
  border-radius: 10px;
}
.background-container img {
  filter: brightness(25%);
  object-fit: cover;
}
main {
  margin-top: 175px;
  width: 1520px;
}
input::placeholder {
  color: $white;
}
@keyframes cardFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cards{
  height: 300px;
}
.card,
.card-placeholder {
  cursor: pointer;
  width: 215px;
  transition: 300ms;
  border-radius: 10px;
}
.card:hover {
  filter: drop-shadow(0px 0px 6px $orange);
}
.card-placeholder {
  padding: 25px;
  background-color: $transparentBlack; // Gray background color
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.6) 30%,
    #fff 50%,
    rgba(255, 255, 255, 0.6) 70%
  ); // White mask
  -webkit-mask-size: 200%;
  mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.6) 30%,
    #fff 50%,
    rgba(255, 255, 255, 0.6) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
    mask-position: -50%;
  }
}

@keyframes shine {
  from {
    mask-position: 150%;
  }

  to {
    mask-position: -50%;
  }
}
.card-placeholder-img{
  width: 100%;
  border-radius: 10px;
  background-color: $grey;
  height: 100px;
}
.card-placeholder-content{
  margin-top: auto;
  width: 100%;
  row-gap: 15px;
}
.card-placeholder-content div{
  border-radius: 10px;
  height: 10px;
  width: inherit;
  background-color: $grey;
}