@import "../../assets/scss/partials/colors";
.card-placeholder {
  width: 215px;
  height: 300px;
  transition: 300ms;
  border-radius: 10px;
  padding: 25px;
  background-color: $transparentBlack; // Gray background color
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.6) 30%,
    #fff 50%,
    rgba(255, 255, 255, 0.6) 70%
  ); // White mask
  -webkit-mask-size: 200%;
  mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.6) 30%,
    #fff 50%,
    rgba(255, 255, 255, 0.6) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
    mask-position: -50%;
  }
}

@keyframes shine {
  from {
    mask-position: 150%;
  }

  to {
    mask-position: -50%;
  }
}
.card-placeholder-img {
  width: 100%;
  border-radius: 10px;
  background-color: $grey;
  height: 100px;
}
.card-placeholder-content {
  margin-top: auto;
  width: 100%;
  row-gap: 15px;
}
.card-placeholder-content div {
  border-radius: 10px;
  height: 10px;
  width: inherit;
  background-color: $grey;
}
